body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul{
    list-style-type: none;
}

li{
    list-style-type: none;
}

.progress {
    width: 100%;
    height: 100%;
}

.progress-wrap {
    position: relative;
    width: 90%;
    height: 30px;
}

.progress-bar {
    background: #ececec;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.progress-value {
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-num {
    position: absolute;
    top: 0px;
    right: -5%;
    font-size: 20px;
}
