@model Exercise.Data.Workout


@{
    ViewBag.Title = "Index";
}

<link href="/Content/Site.css" rel="stylesheet" type="text/css" />




<div class="banner">
    <div class="bg-color">
        <div class="container">
            <div class="row">
                <div class="banner-text text-center col-sm-12">
                    <div class="text-border">
                        <h2 class="text-dec">Exercize</h2>
                    </div>
                    <div class="intro-para text-center quote">
                        
                            @if (ViewBag.displayMenu == "Yes")
                        {
                        <p>Welcome Admin.</p>
                        
                            <li>@Html.ActionLink("View Customer Data", "CustomerData", "Admin", new { }, new { @class = "btn" })</li>
                        
                        }
                            else if (ViewBag.displayMenu == "No")
                            {
                                <p>Welcome User</p>
                                <p>
                                    <li>@Html.ActionLink("Go To Workouts", "Index", "Exercise", new { }, new { @class = "btn" })</li>
                                </p>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Login", "Login", "Account", new { }, new { @class = "btn" })</li>
                                                        
                            } </p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






